<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yayawan.sdkyyww"
    android:versionCode="3"
    android:versionName="3.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />
    <!-- 丫丫玩sdk 必须权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- 快捷支付必须的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="cn.swiftpass.wxpay.permission.MMOAUTH_CALLBACK" />
    <uses-permission android:name="cn.swiftpass.wxpay.permission.MM_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="xvtian.gai.receiver" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
        android:label="sdkyywdabao"
        android:name="com.yayawan.impl.YYApplication"
        >
        
        <activity android:name="com.yayawan.sdkyyw.MainActivity" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    
    

        <!-- BaseLogin_Activity 登录 -->
        <activity
            android:name="com.yayawan.sdk.jflogin.BaseLogin_Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:theme="@android:style/Theme.Dialog" />
        <!-- 头像上传 -->
        <activity
            android:name="com.yayawan.sdk.jfsmallhelp.CropPhoto_Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <!-- 发帖 -->
        <activity
            android:name="com.yayawan.sdk.jfsmallhelp.Push_feeling_Activity"
            android:configChanges="keyboardHidden|navigation|screenSize|orientation" >
        </activity>
        <activity
            android:name="com.yayawan.sdk.Yinlian_Activity"
            android:configChanges="keyboardHidden|navigation|screenSize|orientation" >
        </activity>
      



        <!-- yayawan_nochangecount设置为true这取消切换账号..除个别特殊游戏外.都不能取消切换账号这个选项 -->
        <meta-data
            android:name="yayawan_nochangecount"
            android:value="false" />

        <!-- 退出接口是否有弹框提示 -->
        <meta-data
            android:name="yayawan_exitdialog"
            android:value="false" />
        <meta-data
            android:name="isHaveexit"
            android:value="false" />
        
     <meta-data
            android:name="yayawan_game_id"
            android:value="yaya528510699" />
      <!--  <meta-data
            android:name="yayawan_game_id"
            android:value="yaya1206629781" /> -->
            
         <meta-data
            android:name="union_id"
            android:value="yaya1354981926" />  
        <!--  <meta-data
            android:name="union_id"
            android:value="yaya2958292331" />   -->
      
       
        
        <meta-data
            android:name="yayawan_game_key"
            android:value="2739ae4cb1db672afaf6f93c04031ad5" />
        <meta-data
            android:name="yayawan_game_secret"
            android:value="e918cb5d97d0a4acee54c1def8c3a78c" />
        <meta-data
            android:name="yayawan_source_id"
            android:value="91" />
        <meta-data
            android:name="yayawan_version"
            android:value="0.30" />
        <!--
        是否可以隐藏小助手,如果不配置,默认可以隐藏,
        需要在有游戏中添加个人中心,如果设置为false,个人中心隐藏小助手无法使用

  -->

    <!-- 是否为调试模式 -->
         <meta-data
            android:name="isdebug"
            android:value="false" /> 
   <!--      <
             <meta-data
            android:name="yayawan_nochangecount"
            android:value="true" />
 -->
        
        <!-- 横屏设置 -->

    <!--     <meta-data
            android:name="yayawan_orientation"
            android:value="landscape" />
 -->
        <!-- 竖屏设置 -->


       
             <meta-data
            android:name="yayawan_orientation"
            android:value="portrait" />
       
 

         <meta-data
            android:name="USE_NEW_LOGO"
            android:value="no" />
         
       <!--   热云 -->
         
          <meta-data
            android:name="reyun"
            android:value="yes" />
           <meta-data
            android:name="reyunappkey"
            android:value="a6de30cfa00a8ab512cba0b0a79c2faf" />
            <meta-data
            android:name="reyunchannelid"
            android:value="no" />
        
         <!-- 腾讯广点通上报方案 -->
         <!-- 应用id -->
        <meta-data
            android:name="androidAppId"
            android:value="string1105769355" />
        <meta-data
            android:name="guangdiantong"
            android:value="yes" />
        <meta-data
            android:name="sign_key"
            android:value="e588e0c7849b04bc" />
        <meta-data
            android:name="encrypt_key"
            android:value="BAAAAAAAAAAAKjpn" />
        <!-- 广告主id -->
        <meta-data
            android:name="advertiser_id"
            android:value="string2767463" />

       
    </application>

</manifest>